# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore node modules
node_modules/

# Ignore OS-specific files
.DS_Store
Thumbs.db

#Ignore models, csv and output videos
*.pt
*.csv
*.mp4